terminology/specification/TBXinTEI.odd

<?xml version="1.0" encoding="UTF-8"?>
<?oxygen RNGSchema="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_odds.rnc" type="compact"?>
<TEI xml:lang="en" xmlns="http://www.tei-c.org/ns/1.0" xmlns:tbx="http://www.tbx.org"
  xmlns:sch="http://purl.oclc.org/dsdl/schematron">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>Terminologies and Conceptual Systems</title>
        <author>Laurent Romary</author>
        <author>Stefan Pernes</author>
      </titleStmt>
      <publicationStmt>
        <authority>Inria</authority>
        <availability status="free">
          <p>This document is intended to be submitted as a new chapter of the TEI guidelines. It
            can be thus disseminated as widely as necessary, but please contact the author if you
            want to fork it with modifications, so that these can be included in any future
            version.</p>
          <licence target="http://creativecommons.org/licenses/by/3.0/">
            <p>The Creative Commons Attribution 3.0 Unported (CC BY 3.0) Licence applies to this
              document.</p>
          </licence>
        </availability>
      </publicationStmt>
      <sourceDesc>
        <p>No print source exists: this is an original digital text</p>
      </sourceDesc>
    </fileDesc>
  </teiHeader>
  <text>
    <body>
      <div>
        <head>Terminologies and Conceptual Systems</head>

        <div>
          <head>The Structure of Concept Entries</head>

        </div>


        <div>
          <head>Description of Elements and Data Categories</head>
          <div>
            <head>Concept-related Description</head>

            <div>
              <head>Linking to external ressources and other formalisms</head>

            </div>
          </div>
          <div>
            <head>Language-related Description</head>

          </div>
          <div>
            <head>Term-related Description</head>
            
          </div>
        </div>
        <div>
          <head>Appendix</head>
          <div>
            <head>List of ISO Data Categories</head>
 
          </div>
          <div>
            <head>List of WordNet Supersenses</head>
 
          </div>
        </div>

      </div>
      <div>
        <schemaSpec ident="TBXinTEI" start="TEI teiCorpus">
          <moduleRef key="tei"/>
          <moduleRef key="header"/>
          <moduleRef key="core"/>
          <moduleRef key="textstructure" include="TEI text body div front back floatingText"/>
          <moduleRef key="dictionaries"/>
          <moduleRef key="namesdates"/>

          <!-- for equiv specifications and example encodings -->
          <moduleRef key="analysis"/>
          <moduleRef key="linking"/>
          <moduleRef key="tagdocs"/>

          <specGrpRef target="#spec-term-entries"/>
          <specGrpRef target="#spec-equiv"/>
        </schemaSpec>

        <specGrp xml:id="spec-term-entries">
          <!-- Elements needed for terminological entries -->

          <elementSpec ident="conceptEntry">
            <desc>The root element of a terminological entry. It shall contain at least one language
              section.</desc>
            <equiv name="tbx:conceptEntry"/>
            <classes>
              <memberOf key="att.global"/>
              <memberOf key="att.entryLike"/>
              <memberOf key="att.sortable"/>
              <memberOf key="model.entryLike"/>
            </classes>
            <content>
              <alternate minOccurs="1" maxOccurs="unbounded">
                <elementRef key="conceptDesc" minOccurs="0" maxOccurs="unbounded"/>
                <elementRef key="langSec" minOccurs="1" maxOccurs="unbounded"/>
                <!-- provide headword + information shared by all langSec's -->
                <elementRef key="model.entryPart.top" minOccurs="0" maxOccurs="unbounded"/>
              </alternate>
            </content>
            <exemplum xml:lang="en">
              <!-- ADD EXAMPLE -->
              <egXML xmlns="http://www.tei-c.org/ns/Examples">
                <conceptEntry/>
              </egXML>
            </exemplum>
          </elementSpec>

          <elementSpec ident="langSec">
            <!-- UPDATE DESC -->
            <desc>A nesting element that contains all the information in a terminological entry
              pertaining to one language, including all the <gi>termSec</gi> elements (terms and
              associated information) for that language.</desc>
            <equiv name="tbx:langSec"/>
            <classes>
              <memberOf key="att.global"/>
            </classes>
            <content>
              <alternate minOccurs="1" maxOccurs="unbounded">
                <elementRef key="conceptDesc" minOccurs="0" maxOccurs="unbounded"/>
                <elementRef key="termSec" minOccurs="0" maxOccurs="unbounded"/>
                <!-- provide information shared by all termSec's + possibility to use form, sense.. instead of termSec -->
                <elementRef key="model.entryPart" minOccurs="0" maxOccurs="unbounded"/>
                <!-- model.global is included in entry element, but not needed to model TBX-in-TEI use cases -->
                <!-- <elementRef key="model.global" minOccurs="0" maxOccurs="unbounded"/> -->
                <elementRef key="model.noteLike" minOccurs="0" maxOccurs="unbounded"/>
                <!-- instead of model.global -->
                <elementRef key="model.ptrLike" minOccurs="0" maxOccurs="unbounded"/>
              </alternate>
            </content>
            <constraintSpec scheme="schematron" ident="langSec">
              <constraint>
                <sch:pattern name="langSec_termSecOrForm">
                  <sch:rule context="langSec">
                    <sch:assert test="not(termSec and form)">Only one of the elements termSec and
                      form may be supplied</sch:assert>
                  </sch:rule>
                </sch:pattern>
              </constraint>
            </constraintSpec>
            <attList>
              <attDef ident="xml:lang" usage="req" mode="change"/>
            </attList>
            <exemplum xml:lang="en">
              <!-- ADD EXAMPLE -->
              <egXML xmlns="http://www.tei-c.org/ns/Examples">
                <langSec xml:lang="en"/>
              </egXML>
            </exemplum>
          </elementSpec>

          <elementSpec ident="termSec">
            <!-- UPDATE DESC -->
            <desc>A <emph>term information group</emph>. A grouping element that contains child
              elements describing a term. It is often referred to as the <emph>term
              section</emph>.</desc>
            <equiv name="tbx:termSec"/>
            <classes>
              <memberOf key="att.global"/>
              <memberOf key="att.lexicographic"/>
            </classes>
            <content>
              <alternate minOccurs="1" maxOccurs="unbounded">
                <elementRef key="conceptDesc" minOccurs="0" maxOccurs="unbounded"/>
                <elementRef key="model.gLike" minOccurs="0" maxOccurs="unbounded"/>
                <elementRef key="model.phrase" minOccurs="0" maxOccurs="unbounded"/>
                <!-- includes model.ptrLike -->
                <elementRef key="model.formPart" minOccurs="1" maxOccurs="unbounded"/>
                <!-- model.global is included in form, sense element, but not needed to model TBX-in-TEI use cases -->
                <!-- <elementRef key="model.global" minOccurs="0" maxOccurs="unbounded"/> -->
                <elementRef key="model.noteLike" minOccurs="0" maxOccurs="unbounded"/>
                <!-- instead of model.global -->
                <!-- use only a subset of model.inter -->
                <elementRef key="model.biblLike" minOccurs="0" maxOccurs="unbounded"/>
                <elementRef key="model.qLike" minOccurs="0" maxOccurs="unbounded"/>
                <!-- includes floatingText -->
                <!-- allow termSec to group most other information, similar to sense -->
                <elementRef key="model.entryPart.top" minOccurs="0" maxOccurs="unbounded"/>
              </alternate>
            </content>
            <attList>
              <attDef ident="type" usage="opt">
                <desc>classifies form as simple, compound, etc.</desc>
                <valList type="open">
                  <valItem ident="simple">
                    <desc>single free lexical item</desc>
                  </valItem>
                  <valItem ident="lemma">
                    <desc>the headword itself</desc>
                    <equiv name="tbx:lemma"/>
                  </valItem>
                  <valItem ident="variant">
                    <desc>a variant form</desc>
                    <equiv name="tbx:termType"/>
                    <!-- termNote[@type='termType'] == "variant" -->
                  </valItem>
                  <valItem ident="compound">
                    <desc>word formed from simple lexical items</desc>
                  </valItem>
                  <valItem ident="derivative">
                    <desc>word derived from headword</desc>
                  </valItem>
                  <valItem ident="inflected">
                    <desc>word in other than usual dictionary form</desc>
                  </valItem>
                  <valItem ident="phrase">
                    <desc>multiple-word lexical item</desc>
                  </valItem>
                  <valItem ident="full">
                    <desc>expanded form</desc>
                    <equiv name="tbx:termType"/>
                    <!-- termNote[@type='termType'] == "fullForm" -->
                  </valItem>
                  <valItem ident="abbrev">
                    <desc>abbreviated form</desc>
                    <equiv name="tbx:abbreviatedFormFor"/>
                  </valItem>
                </valList>
              </attDef>
            </attList>
            <exemplum xml:lang="en">
              <!-- ADD EXAMPLE -->
              <egXML xmlns="http://www.tei-c.org/ns/Examples">
                <termSec type="compound"/>
              </egXML>
            </exemplum>
          </elementSpec>

          <elementSpec ident="conceptDesc">
            <!-- UPDATE DESC -->
            <desc>An element that contains descriptive information about a concept, or relations to
              other concepts. The type of information that the element contains, and any
              restrictions on the permissible values of the element, are determined by the value of
              the <att>type</att> attribute.</desc>
            <classes>
              <memberOf key="att.datcat"/>
              <memberOf key="att.global"/>
              <memberOf key="att.pointing"/>
            </classes>
            <content>
              <alternate minOccurs="0" maxOccurs="unbounded">
                <textNode/>
                <elementRef key="relation" minOccurs="0" maxOccurs="unbounded"/>
              </alternate>
            </content>
            <constraintSpec scheme="schematron" ident="conceptDesc">
              <constraint>
                <sch:pattern name="conceptDesc_typeOrCorresp">
                  <sch:rule context="conceptDesc">
                    <sch:assert test="@type or @corresp">One of the attributes @type or @corresp
                      must be supplied</sch:assert>
                  </sch:rule>
                </sch:pattern>
              </constraint>
            </constraintSpec>
            <attList>
              <attDef ident="type" usage="opt">
                <desc>Indicates the data-category type of the <gi>conceptDesc</gi> element, such as
                    <val>subjectField</val> or <val>associatedConcept</val>.</desc>
                <datatype>
                  <dataRef key="teidata.text"/>
                </datatype>
                <valList type="closed">
                  <valItem ident="conceptPosition">
                    <desc>The position of a concept in a concept system</desc>
                  </valItem>
                  <valItem ident="subjectField">
                    <desc>A field of special knowledge or term from a controlled vocabulary</desc>
                  </valItem>
                  <valItem ident="antonymConcept">
                    <desc>A concept which constitutes the opposite of the concept represented by a
                      second term</desc>
                  </valItem>
                  <valItem ident="associatedConcept">
                    <desc>A concept that exhibits a relation to the subject concept that can be
                      established on the basis of non-hierarchical thematic connections</desc>
                  </valItem>
                  <valItem ident="broaderConcept">
                    <desc>A concept two or more levels of abstraction higher than subject
                      concept</desc>
                  </valItem>
                  <valItem ident="broaderConceptGeneric">
                    <desc>A concept two or more levels of abstraction higher than subject concept in
                      a generic hierarchical concept system</desc>
                  </valItem>
                  <valItem ident="broaderConceptPartitive">
                    <desc>A concept two or more levels of abstraction higher than subject concept in
                      a part-whole or meronymic hierarchical concept system</desc>
                  </valItem>
                  <valItem ident="narrowerConcept">
                    <desc>A concept two or more levels of abstraction lower than subject
                      concept</desc>
                  </valItem>
                  <valItem ident="narrowerConceptGeneric">
                    <desc>A concept two or more levels of abstraction lower than subject concept in
                      a generic hierarchical concept system</desc>
                  </valItem>
                  <valItem ident="narrowerConceptPartitive">
                    <desc>A concept two or more levels of abstraction lower than subject concept in
                      a part-whole or meronymic hierarchical concept system</desc>
                  </valItem>
                  <valItem ident="coordinateConceptGeneric">
                    <desc>A subordinate concept having the same nearest superordinate concept and
                      same criterion of subdivision as some other concept in a given generic concept
                      system</desc>
                  </valItem>
                  <valItem ident="coordinateConceptPartitive">
                    <desc>A subordinate concept having the same nearest superordinate concept and
                      same criterion of subdivision as some other concept in a given partitive
                      concept system</desc>
                  </valItem>
                  <valItem ident="relatedConcept">
                    <desc>A concept that has an associative relation to another concept</desc>
                  </valItem>
                  <valItem ident="relatedConceptBroader">
                    <desc>A concept that is roughly broader at some level with respect to a related
                      or associative concept, but without there comprising any clear-cut reference
                      to a defined generic or partitive system</desc>
                  </valItem>
                  <valItem ident="relatedConceptNarrower">
                    <desc>A concept that is roughly narrower at some level with respect to a related
                      or associative concept, but without there comprisng any clear-cut reference to
                      a defined generic or partitive system of concepts</desc>
                  </valItem>
                  <valItem ident="sequentiallyRelatedConcept">
                    <desc>An associative relation based on spatial or temporal proximity</desc>
                  </valItem>
                  <valItem ident="spatiallyRelatedConcept">
                    <desc>A relation of dependence between concepts referring to objects based on
                      their relative positions in space</desc>
                  </valItem>
                  <valItem ident="temporallyRelatedConcept">
                    <desc>A concept related to the subject concept through a sequential relation
                      involving events in time</desc>
                  </valItem>
                  <valItem ident="subordinateConcept">
                    <desc>A concept in a hierarchical system that can be grouped together with at
                      least one more concept of the same level to form a higher ranking
                      concept</desc>
                  </valItem>
                  <valItem ident="subordinateConceptGeneric">
                    <desc>A concept in a generic relation having the broader intension</desc>
                  </valItem>
                  <valItem ident="subordinateConceptPartitive">
                    <desc>A concept in a partitive relation viewed as one of the parts making up the
                      whole</desc>
                  </valItem>
                  <valItem ident="superordinateConcept">
                    <desc>A concept which is either a generic concept or a comprehensive
                      concept</desc>
                  </valItem>
                  <valItem ident="superordinateConceptGeneric">
                    <desc>A concept in a generic relation having the narrower intension</desc>
                  </valItem>
                  <valItem ident="superordinateConceptPartitive">
                    <desc>A concept that has a partitive relation with the subject concept, and
                      represents the sum of the parts; a comprehensive concept</desc>
                  </valItem>
                </valList>
              </attDef>
              <attDef ident="grade" usage="opt">
                <!-- ADD DESC -->
                <desc/>
                <datatype>
                  <dataRef key="teidata.probability"/>
                </datatype>
              </attDef>
              <attDef ident="level" usage="opt">
                <!-- ADD DESC -->
                <desc/>
                <datatype>
                  <dataRef key="teidata.count"/>
                </datatype>
              </attDef>
            </attList>
            <exemplum xml:lang="en">
              <!-- ADD EXAMPLE -->
              <egXML xmlns="http://www.tei-c.org/ns/Examples">
                <termSec type="compound"/>
              </egXML>
            </exemplum>
          </elementSpec>

        </specGrp>

        <specGrp xml:id="spec-equiv">
          <!-- Additional definitions of TBX equivalents for TEI constructs -->

          <elementSpec ident="abbr" module="core" mode="change">
            <equiv name="tbx:termType"/>
            <!-- termNote[@type='termType'] == "abbreviation" -->
            <attList>
              <attDef ident="type" mode="change">
                <valList type="open">
                  <valItem ident="suspension">
                    <equiv name="tbx:termType"/>
                    <!-- termNote[@type='termType'] == "clippedTerm" -->
                  </valItem>
                  <valItem ident="contraction"/>
                  <valItem ident="brevigraph">
                    <equiv name="tbx:termType"/>
                    <!-- termNote[@type='termType'] == "symbol" -->
                  </valItem>
                  <valItem ident="superscription"/>
                  <valItem ident="acronym">
                    <equiv name="tbx:termType"/>
                    <!-- termNote[@type='termType'] == "acronym" -->
                  </valItem>
                  <valItem ident="title"/>
                  <valItem ident="organization"/>
                  <valItem ident="geographic"/>
                </valList>
              </attDef>
            </attList>
          </elementSpec>

          <elementSpec ident="bibl" module="core" mode="change">
            <equiv name="tbx:source"/>
          </elementSpec>

          <elementSpec ident="date" module="core" mode="change">
            <equiv name="tbx:date"/>
          </elementSpec>

          <elementSpec ident="def" module="dictionaries" mode="change">
            <equiv name="tbx:definition"/>
            <attList>
              <attDef ident="valueDatcat" usage="opt" mode="change">
                <valList type="open">
                  <valItem ident="extensionalDefinition">
                    <equiv name="tbx:definitionType"/>
                    <!-- descrip[@type='definitionType'] == "extensionalDefinition" -->
                  </valItem>
                  <valItem ident="intensionalDefinition">
                    <equiv name="tbx:definitionType"/>
                    <!-- descrip[@type='definitionType'] == "intensionalDefinition" -->
                  </valItem>
                  <valItem ident="partitiveDefinition">
                    <equiv name="tbx:definitionType"/>
                    <!-- descrip[@type='definitionType'] == "partitiveDefinition" -->
                  </valItem>
                  <valItem ident="translatedDefinition">
                    <equiv name="tbx:definitionType"/>
                    <!-- descrip[@type='definitionType'] == "translatedDefinition" -->
                  </valItem>
                </valList>
              </attDef>
            </attList>
          </elementSpec>

          <elementSpec ident="etym" module="dictionaries" mode="change">
            <equiv name="tbx:etymology"/>
          </elementSpec>

          <elementSpec ident="foreign" module="core" mode="change">
            <equiv name="tbx:foreign"/>
          </elementSpec>

          <elementSpec ident="formula" module="core" mode="change">
            <equiv name="tbx:math"/>
            <attList>
              <attDef ident="notation" usage="opt" mode="change">
                <valList type="open">
                  <valItem ident="mathml">
                    <equiv name="tbx:xMathML"/>
                  </valItem>
                </valList>
              </attDef>
            </attList>
          </elementSpec>

          <elementSpec ident="gram" module="dictionaries" mode="change">
            <attList>
              <attDef ident="type" usage="opt" mode="change">
                <valList type="closed">
                  <valItem ident="pos">
                    <equiv name="tbx:partOfSpeech"/>
                  </valItem>
                  <valItem ident="gen">
                    <equiv name="tbx:grammaticalGender"/>
                  </valItem>
                  <valItem ident="num">
                    <equiv name="tbx:grammaticalNumber"/>
                  </valItem>
                  <valItem ident="animate">
                    <equiv name="tbx:animacy"/>
                  </valItem>
                  <valItem ident="proper"/>
                </valList>
              </attDef>
            </attList>
          </elementSpec>

          <elementSpec ident="hi" module="core" mode="change">
            <equiv name="tbx:hi"/>
            <attList>
              <attDef ident="rend" usage="opt" mode="change">
                <valList type="open">
                  <valItem ident="bold">
                    <equiv name="tbx:bold"/>
                  </valItem>
                  <valItem ident="italic">
                    <equiv name="tbx:italics"/>
                  </valItem>
                  <valItem ident="subscript">
                    <equiv name="tbx:subscript"/>
                  </valItem>
                  <valItem ident="superscript">
                    <equiv name="tbx:superscript"/>
                  </valItem>
                </valList>
              </attDef>
            </attList>
          </elementSpec>

          <elementSpec ident="hom" module="dictionaries" mode="change">
            <equiv name="tbx:homograph"/>
          </elementSpec>

          <elementSpec ident="hyph" module="dictionaries" mode="change">
            <equiv name="tbx:hyphenation"/>
          </elementSpec>

          <elementSpec ident="m" module="analysis" mode="change">
            <equiv name="tbx:morphologicalElement"/>
          </elementSpec>

          <elementSpec ident="media" module="core" mode="change">
            <equiv name="tbx:xAudio"/>
            <equiv name="tbx:xGraphic"/>
            <equiv name="tbx:xVideo"/>
          </elementSpec>

          <elementSpec ident="mentioned" module="core" mode="change">
            <equiv name="tbx:entailedTerm"/>
          </elementSpec>

          <elementSpec ident="note" module="core" mode="change">
            <equiv name="tbx:note"/>
          </elementSpec>

          <elementSpec ident="orth" module="dictionaries" mode="change">
            <equiv name="tbx:term"/>
            <attList>
              <attDef ident="type" usage="opt" mode="change">
                <valList type="open">
                  <valItem ident="transliterated">
                    <equiv name="tbx:termType"/>
                    <!-- termNote[@type='termType'] == "transliteratedForm" -->
                  </valItem>
                </valList>
              </attDef>
              <attDef ident="orig" usage="opt" mode="change">
                <equiv name="tbx:termType"/>
                <!-- termNote[@type='termType'] == "transcribedForm" -->
              </attDef>
            </attList>
          </elementSpec>

          <elementSpec ident="pron" module="dictionaries" mode="change">
            <equiv name="tbx:pronunciation"/>
          </elementSpec>

          <elementSpec ident="ptr" module="core" mode="change">
            <equiv name="tbx:externalCrossReference"/>
          </elementSpec>

          <elementSpec ident="ref" module="core" mode="change">
            <equiv name="tbx:crossReference"/>
          </elementSpec>

          <elementSpec ident="syll" module="dictionaries" mode="change">
            <equiv name="tbx:syllabification"/>
          </elementSpec>

          <elementSpec ident="tag" module="tagdocs" mode="change">
            <attList>
              <attDef ident="type" usage="opt" mode="change">
                <valList type="closed">
                  <valItem ident="start">
                    <equiv name="tbx:sc"/>
                  </valItem>
                  <valItem ident="end">
                    <equiv name="tbx:ec"/>
                  </valItem>
                  <valItem ident="empty">
                    <equiv name="tbx:ph"/>
                  </valItem>
                  <valItem ident="pi"/>
                  <valItem ident="comment"/>
                  <valItem ident="ms"/>
                </valList>
              </attDef>
            </attList>
          </elementSpec>

          <elementSpec ident="cit" module="core" mode="change">
            <attList>
              <attDef ident="type" usage="opt" mode="change">
                <valList type="open">
                  <valItem ident="characteristic">
                    <equiv name="tbx:characteristic"/>
                  </valItem>
                  <valItem ident="context">
                    <equiv name="tbx:context"/>
                  </valItem>
                  <valItem ident="example">
                    <equiv name="tbx:example"/>
                  </valItem>
                  <valItem ident="explanation">
                    <equiv name="tbx:explanation"/>
                  </valItem>
                </valList>
              </attDef>
              <attDef ident="subtype" usage="opt" mode="change">
                <valList type="open">
                  <valItem ident="associativeContext">
                    <equiv name="tbx:contextType"/>
                    <!-- descrip[@type='contextType'] == "associativeContext" -->
                  </valItem>
                  <valItem ident="definingContext">
                    <equiv name="tbx:contextType"/>
                    <!-- descrip[@type='contextType'] == "definingContext" -->
                  </valItem>
                  <valItem ident="explanatoryContext">
                    <equiv name="tbx:contextType"/>
                    <!-- descrip[@type='contextType'] == "explanatoryContext" -->
                  </valItem>
                  <valItem ident="linguisticContext">
                    <equiv name="tbx:contextType"/>
                    <!-- descrip[@type='contextType'] == "linguisticContext" -->
                  </valItem>
                  <valItem ident="metalinguisticContext">
                    <equiv name="tbx:contextType"/>
                    <!-- descrip[@type='contextType'] == "metalinguisticContext" -->
                  </valItem>
                  <valItem ident="translatedContext">
                    <equiv name="tbx:contextType"/>
                    <!-- descrip[@type='contextType'] == "translatedContext" -->
                  </valItem>
                </valList>
              </attDef>
            </attList>
          </elementSpec>

          <elementSpec ident="usg" module="dictionaries" mode="change">
            <equiv name="tbx:usageNote"/>
            <attList>
              <attDef ident="type" usage="opt" mode="change">
                <valList type="closed">
                  <valItem ident="geo">
                    <equiv name="tbx:geographicalUsage"/>
                  </valItem>
                  <valItem ident="time">
                    <equiv name="tbx:temporalQualifier"/>
                  </valItem>
                  <valItem ident="dom">
                    <equiv name="tbx:subjectField"/>
                  </valItem>
                  <valItem ident="register">
                    <equiv name="tbx:register"/>
                  </valItem>
                  <valItem ident="style"/>
                  <valItem ident="plev"/>
                  <valItem ident="lang"/>
                  <valItem ident="gram"/>
                  <valItem ident="syn">
                    <equiv name="tbx:termType"/>
                    <!-- termNote[@type='termType'] == "synonym", "synonymousPhrase" -->
                  </valItem>
                  <valItem ident="hyper"/>
                  <valItem ident="comp"/>
                  <valItem ident="hint"/>

                  <!-- the following can be included in the free-form text of tbx:grammaticalValency -->
                  <valItem ident="colloc"/>
                  <valItem ident="obj"/>
                  <valItem ident="subj"/>
                  <valItem ident="verb"/>

                  <!-- the following are not TEI presets -->
                  <valItem ident="directionality">
                    <equiv name="tbx:directionality"/>
                  </valItem>
                  <valItem ident="frequency">
                    <equiv name="tbx:frequency"/>
                  </valItem>
                  <valItem ident="ant">
                    <equiv name="tbx:antonymTerm"/>
                  </valItem>
                  <valItem ident="falsefriend">
                    <equiv name="tbx:falseFriend"/>
                  </valItem>
                </valList>
              </attDef>
            </attList>
          </elementSpec>

          <elementSpec ident="form" module="dictionaries" mode="change">
            <attList>
              <attDef ident="type" usage="opt" mode="change">
                <valList type="open">
                  <valItem ident="simple"/>
                  <valItem ident="lemma">
                    <equiv name="tbx:lemma"/>
                  </valItem>
                  <valItem ident="variant">
                    <equiv name="tbx:termType"/>
                    <!-- termNote[@type='termType'] == "variant" -->
                  </valItem>
                  <valItem ident="compound"/>
                  <valItem ident="derivative"/>
                  <valItem ident="inflected"/>
                  <valItem ident="phrase"/>
                  <valItem ident="full">
                    <equiv name="tbx:termType"/>
                    <!-- termNote[@type='termType'] == "fullForm" -->
                  </valItem>
                  <valItem ident="abbrev">
                    <equiv name="tbx:abbreviatedFormFor"/>
                  </valItem>
                </valList>
              </attDef>
            </attList>
          </elementSpec>

          <elementSpec ident="xr" module="dictionaries" mode="change">
            <equiv name="tbx:see"/>
          </elementSpec>

          <elementSpec ident="change" module="header" mode="change">
            <equiv name="tbx:transactionType"/>
          </elementSpec>

          <elementSpec ident="respStmt" module="core" mode="change">
            <!-- specifically, respStmt/name or persName -->
            <equiv name="tbx:responsibility"/>
          </elementSpec>

        </specGrp>

      </div>
    </body>
  </text>
</TEI>
