terminology/specification/TBXinTEI.odd

<?xml version="1.0" encoding="UTF-8"?>
<?oxygen RNGSchema="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_odds.rnc" type="compact"?>
<TEI xml:lang="en" xmlns="http://www.tei-c.org/ns/1.0" xmlns:tbx="http://www.tbx.org"
  xmlns:sch="http://purl.oclc.org/dsdl/schematron">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>TBX Extension to TEI</title>
        <author>Laurent Romary</author>
        <author>Stefan Pernes</author>
      </titleStmt>
      <publicationStmt>
        <authority>Inria</authority>
        <availability status="free">
          <p>This document is intended to be submitted as a new chapter of the TEI guidelines. It
            can be thus disseminated as widely as necessary, but please contact the author if you
            want to fork it with modifications, so that these can be included in any future
            version.</p>
          <licence target="http://creativecommons.org/licenses/by/3.0/">
            <p>The Creative Commons Attribution 3.0 Unported (CC BY 3.0) Licence applies to this
              document.</p>
            <p>
              <!--You can quote this document as: <q>Romary, L., TBX extension to TEI; ODD specification. 2014</q>-->
            </p>
          </licence>
        </availability>
      </publicationStmt>
      <sourceDesc>
        <p>COMMITTEE DRAFT ISO/CD 30042 (N 1097)</p>
      </sourceDesc>
    </fileDesc>
  </teiHeader>
  <text>
    <body>
      <div>
        <head>Modeling Onomasiological Data</head>
        <div>
          <head>Introduction</head>
          <p>mission statement, complementary to dictionaries chapter, modus operandi: modeling use
            cases (-> preliminary typology of onomasiological data in the humanities)</p>
          <p>definitions: onomasio- vs. semasiological, principles of terminology representation
            (concept orientation, term autonomy), TMF principles (meta structure + data
            categories)</p>
          <p>relationship: TBX as TMF implementation, TEI-TBX as modifying TBX core (subsetting as
            well as extending), TEI-TBX follows the TMF meta-structure and thus is a valid TML,
            modifying only DCs</p>
          <egXML xmlns="http://www.tei-c.org/ns/Examples"> example meta structure </egXML>
        </div>
        <div>
          <head>Description of Elements and Data Categories</head>
          <p>illustrate DCs with use cases, inkl. description of use case specifities</p>
          <div>
            <head>The Structure of an Entry</head>
          </div>
          <div>
            <head>Concept-related Description</head>
            <p>based on descrip</p>
            <p>inkl. Concept relations</p>
            <p>EXAMPLE -> USE CASE</p>
          </div>
          <div>
            <head>Term-related Description</head>
            <p>based on form</p>
            <p>EXAMPLE ?</p>
          </div>
          <div>
            <head>Encoding Inventories and Thing-ographies</head>
            <p>EXAMPLE -> USE CASE</p>
          </div>
          <div>
            <head>Encoding Historical Encyclopaedias</head>
            <p>EXAMPLE -> USE CASE</p>
          </div>
          <div>
            <head>Encoding Comparative Lexicographical Data</head>
            <p>EXAMPLE -> USE CASE</p>
          </div>
          <div>
            <head>Conceptual Systems / Ontologies / References and cross-references</head>
            <p>EXAMPLE ?</p>
          </div>
        </div>
        <div>
          <head>Appendix</head>
          <div>
            <head>List of ISO Data Categories</head>
            <p>TABLE</p>
          </div>
          <div>
            <head>List of WordNet Supersenses</head>
            <p>TABLE</p>
          </div>
        </div>

      </div>
      <div>
        <schemaSpec ident="TBXinTEI" start="TEI teiCorpus">
          <moduleRef key="tei"/>
          <moduleRef key="header"/>
          <moduleRef key="core"/>
          <moduleRef key="textstructure" include="TEI text body div front back floatingText"/>
          <moduleRef key="dictionaries"/>
          <!-- not core structure -->
          <moduleRef key="namesdates"/>
          <moduleRef key="linking"/>
          <moduleRef key="tagdocs"/>

          <specGrpRef target="#spec-term-entries"/>
          <specGrpRef target="#spec-equiv"/>
        </schemaSpec>

        <specGrp xml:id="spec-term-entries">
          <!-- Elements needed for terminological entries -->

          <elementSpec ident="conceptEntry">
            <desc>The root element of a terminological entry. It shall contain at least one language
              section.</desc>
            <equiv name="tbx:conceptEntry"/>
            <classes>
              <memberOf key="att.global"/>
              <memberOf key="att.entryLike"/>
              <memberOf key="att.sortable"/>
              <memberOf key="model.entryLike"/>
            </classes>
            <content>
              <alternate minOccurs="1" maxOccurs="unbounded">
                <elementRef key="conceptDesc" minOccurs="0" maxOccurs="unbounded"/>
                <elementRef key="langSec" minOccurs="1" maxOccurs="unbounded"/>
                <!-- provide headword + information shared by all langSec's -->
                <elementRef key="model.entryPart.top" minOccurs="0" maxOccurs="unbounded"/>
              </alternate>
            </content>
            <exemplum xml:lang="en">
              <egXML xmlns="http://www.tei-c.org/ns/Examples">
                <conceptEntry/>
              </egXML>
            </exemplum>
            <remarks>
              <p>...</p>
            </remarks>
          </elementSpec>

          <elementSpec ident="langSec">
            <desc>A nesting element that contains all the information in a terminological entry
              pertaining to one language, including all the <gi>termSec</gi> elements (terms and
              associated information) for that language.</desc>
            <equiv name="tbx:langSec"/>
            <classes>
              <memberOf key="att.global"/>
            </classes>
            <content>
              <alternate minOccurs="1" maxOccurs="unbounded">
                <elementRef key="conceptDesc" minOccurs="0" maxOccurs="unbounded"/>
                <elementRef key="termSec" minOccurs="0" maxOccurs="unbounded"/>
                <!-- provide information shared by all termSec's + possibility to use form, sense.. instead of termSec -->
                <elementRef key="model.entryPart" minOccurs="0" maxOccurs="unbounded"/>
                <!-- model.global is included in entry element, but not needed to model TBX-in-TEI use cases -->
                <!-- <elementRef key="model.global" minOccurs="0" maxOccurs="unbounded"/> -->
                <elementRef key="model.noteLike" minOccurs="0" maxOccurs="unbounded"/>  <!-- instead of model.global -->
                <elementRef key="model.ptrLike" minOccurs="0" maxOccurs="unbounded"/>
              </alternate>
            </content>
            <constraintSpec scheme="schematron" ident="langSec">
              <constraint>
                <sch:pattern name="langSec_termSecOrSense">
                  <sch:rule context="langSec">
                    <sch:assert test="not(termSec and sense)">Either termSec or sense should be used
                      to bundle lexicographic information.</sch:assert>
                  </sch:rule>
                </sch:pattern>
              </constraint>
            </constraintSpec>
            <attList>
              <attDef ident="xml:lang" usage="req" mode="change"/>
            </attList>
            <exemplum xml:lang="en">
              <egXML xmlns="http://www.tei-c.org/ns/Examples">
                <langSec xml:lang="en"/>
              </egXML>
            </exemplum>
          </elementSpec>

          <elementSpec ident="termSec">
            <desc>A <emph>term information group</emph>. A grouping element that contains child
              elements describing a term. It is often referred to as the <emph>term
              section</emph>.</desc>
            <equiv name="tbx:termSec"/>
            <classes>
              <memberOf key="att.global"/>
              <memberOf key="att.lexicographic"/>
            </classes>
            <content>
              <alternate minOccurs="1" maxOccurs="unbounded">
                <elementRef key="conceptDesc" minOccurs="0" maxOccurs="unbounded"/>
                <elementRef key="model.gLike" minOccurs="0" maxOccurs="unbounded"/>
                <elementRef key="model.phrase" minOccurs="0" maxOccurs="unbounded"/>  <!-- includes model.ptrLike -->
                <elementRef key="model.formPart" minOccurs="1" maxOccurs="unbounded"/>
                <!-- model.global is included in form, sense element, but not needed to model TBX-in-TEI use cases -->
                <!-- <elementRef key="model.global" minOccurs="0" maxOccurs="unbounded"/> -->
                <elementRef key="model.noteLike" minOccurs="0" maxOccurs="unbounded"/>  <!-- instead of model.global -->
                <!-- use only a subset of model.inter -->
                <elementRef key="model.biblLike" minOccurs="0" maxOccurs="unbounded"/>
                <elementRef key="model.qLike" minOccurs="0" maxOccurs="unbounded"/>   <!-- includes floatingText -->
                <!-- allow termSec to group most other information, similar to sense -->
                <elementRef key="model.entryPart.top" minOccurs="0" maxOccurs="unbounded"/>
              </alternate>
            </content>
            <attList>
              <attDef ident="type" usage="opt">
                <valList type="open">
                  <valItem ident="simple"/>
                  <valItem ident="lemma">
                    <equiv name="tbx:lemma"/>
                  </valItem>
                  <valItem ident="variant">
                    <equiv name="tbx:termType"/>
                    <!-- termNote[@type='termType'] == "variant" -->
                  </valItem>
                  <valItem ident="compound"/>
                  <valItem ident="derivative"/>
                  <valItem ident="inflected"/>
                  <valItem ident="phrase"/>
                  <valItem ident="full">
                    <equiv name="tbx:termType"/>
                    <!-- termNote[@type='termType'] == "fullForm" -->
                  </valItem>
                  <valItem ident="abbrev">
                    <equiv name="tbx:abbreviatedFormFor"/>
                  </valItem>
                </valList>
              </attDef>
            </attList>
            <exemplum xml:lang="en">
              <egXML xmlns="http://www.tei-c.org/ns/Examples">
                <termSec type="compound"/>
              </egXML>
            </exemplum>
          </elementSpec>

          <elementSpec ident="conceptDesc">
            <desc>An element that contains descriptive information about a concept, or relations to
              other concepts. The type of information that the element contains, and any
              restrictions on the permissible values of the element, are determined by the value of
              the <att>type</att> attribute.</desc>
            <classes>
              <memberOf key="att.datcat"/>
              <memberOf key="att.global"/>
            </classes>
            <content>
              <alternate minOccurs="0" maxOccurs="unbounded">
                <textNode/>
              </alternate>
            </content>
            <constraintSpec scheme="schematron" ident="conceptDesc">
              <constraint>
                <sch:pattern name="conceptDesc_typeOrCorresp">
                  <sch:rule context="conceptDesc">
                    <sch:assert test="@type or @corresp">The @type attribute must be specified in conceptDesc,
                      except in the case where only a @corresp URI is needed.</sch:assert>
                  </sch:rule>
                </sch:pattern>
              </constraint>
            </constraintSpec>
            <attList>
              <attDef ident="type" usage="opt">
                <desc>Indicates the data-category type of the <gi>conceptDesc</gi> element, such as
                    <val>subjectField</val> or <val>associatedConcept</val>.</desc>
                <datatype>
                  <dataRef key="teidata.text"/>
                </datatype>
                <valList type="closed">
                  <valItem ident="conceptPosition"/>
                  <valItem ident="subjectField"/>
                  <valItem ident="antonymConcept"/>
                  <valItem ident="associatedConcept"/>
                  <valItem ident="broaderConcept"/>
                  <valItem ident="broaderConceptGeneric"/>
                  <valItem ident="broaderConceptPartitive"/>
                  <valItem ident="narrowerConcept"/>
                  <valItem ident="narrowerConceptGeneric"/>
                  <valItem ident="narrowerConceptPartitive"/>
                  <valItem ident="coordinateConceptGeneric"/>
                  <valItem ident="coordinateConceptPartitive"/>
                  <valItem ident="relatedConcept"/>
                  <valItem ident="relatedConceptBroader"/>
                  <valItem ident="sequentiallyRelatedConcept"/>
                  <valItem ident="spatiallyRelatedConcept"/>
                  <valItem ident="temporallyRelatedConcept"/>
                  <valItem ident="subordinateConcept"/>
                  <valItem ident="subordinateConceptGeneric"/>
                  <valItem ident="subordinateConceptPartitive"/>
                  <valItem ident="superordinateConcept"/>
                  <valItem ident="superordinateConceptGeneric"/>
                  <valItem ident="superordinateConceptPartitive"/>
                </valList>
              </attDef>
              <attDef ident="grade" usage="opt">
                <datatype>
                  <dataRef key="teidata.percentage"/>
                </datatype>
              </attDef>
              <attDef ident="target" usage="opt">
                <datatype>
                  <dataRef key="teidata.pointer"/>
                </datatype>
              </attDef>
            </attList>
          </elementSpec>

        </specGrp>

        <specGrp xml:id="spec-equiv">
          <!-- Additional definitions of TBX equivalents for TEI constructs -->

          <!-- INFO ZU EQUIV'S
              - aufzählen, welche data categories berücksichtigt wurden (alle bis auf admin/*)
              - aufzählen, welche data categories keine tei equivalente haben bzw.:
                - ihre ungefähren equivalente, z.b. termType stellvertretend für seine attribute,
                  die nicht selbst als equiv definiert werden können
                - workarounds
          
              IN TEI-TBX NICHT VORHANDENE DC'S
              - admin/
                  - applicationSubset
                  - businessUnitSubset
                  - customerSubset
                  - environmentSubset
                  - productSubset
                  - projectSubset
                  - securitySubset
                  - keyword
                  - searchTerm
                  - sortKey
                  - annotatedNote: A note that can be coupled with an <adminNote> element to indicate the source of the note or other administrative information about the note.
                  - noteSource: The source of a note that is expressed in a <admin> element having the type attribute value 'annotatedNote'.
                  - domainExpert: Subject field specialist who provides information pertinent to a terminological entry, such as a definition or target language equivalent.
                  - elementWorkingStatus: A code indicating the level of completeness and accuracy of an element (field, record, entry) within a language resource collection. (picklist)
                      - archive element, consolidated element, exported element, imported element, starter element, working element
                  - originatingDatabase: the database from which an entry or a group of entries are exported.
                  - originatingInstitution: An institution (i.e., company, government agency, etc.) treated as a source of information for the purpose of bibliographic documentation.
                  - originatingPerson: An individual treated as a source of information for the purpose of bibliographic documentation.
                  - sourceIdentifier: An identifier that points to information about the source of information in a lexical or terminological entry.
                  - sourceType: für translation (picklist) - background text, parallel text
                  - subsetOwner: An identifier assigned to the individual responsible for administering a subset of lexical or terminological records.
                  - transactionType: approval, check, exportation, importation, input, modification, origination, standardization, user access, withdrawal (picklist)
                  - usageCount: The number of times an entry has been accessed.
              - termNote/
                  - administrative status: The status of a term with respect to its assignment to an administrative level within a certain working environment. (picklist)
                      - admitted term admin-sts, legal term admin-sts, deprecated term admin-sts, superseded term admin-sts, preferred term admin-sts, regulated term admin-sts, standardized term admin-sts
                  - language-planningQualifier: A qualifier assigned to a provisional term within a language planning or descriptive terminology environment. (picklist)
                      - new term, non-standarized term, proposed term, recommended term
                  - normativeAuthorization: A term status qualifier assigned by an authoritative body, such as a standards body or a governmental entity with a regulatory function. (picklist)
                      - admitted term, legal term, preferred term, regulated term, standardized term, superseded term
                  - processStatus: The status of a lexical unit or term with respect to its advancement within the standardization process. (picklist) - finalized, provisionally processed, unprocessed
                  - proprietaryRestriction (picklist): service mark, trade name, trademark
                  - termLocation: Type of graphic feature on a GUI associated with a text string defined as a term in a localization-oriented terminology database. (picklist)
                  - grammaticalValency: The range of syntactic elements required or permitted by a lexical unit.
                      - nicht equivalent: usg/@type="colloc"/"obj"/"subj"/"verb"
                  - termProvenance: Classification of a term according to the methodology employed in creating the term. (picklist) - loan translation, neologism, transdisciplinary borrowing, translingual borrowing
                  - timeRestriction: The indication of a period of time during or since which a term was or has been subject to specified usage.
                  - transferComment: special features affecting equivalence between a .. term [in two languages]
              - termComp/termElement: Any logically significant portion of a larger term. Used when breaking down a compound term into components or when documenting morphemes from an etymological viewpoint.
              - ref/corpusTrace: Complete path name for a contextual resource
              - hi/hotkey: A key or a combination of keys on a computer keyboard that, when pressed at one time, performs a task (such as starting an application) as an alternative to using a mouse or other input device.
              -->

          <elementSpec ident="abbr" module="core" mode="change">
            <equiv name="tbx:termType"/>
            <!-- termNote[@type='termType'] == "abbreviation" -->
            <attList>
              <attDef ident="type" mode="change">
                <valList type="open">
                  <valItem ident="suspension">
                    <equiv name="tbx:termType"/>
                    <!-- termNote[@type='termType'] == "clippedTerm" -->
                  </valItem>
                  <valItem ident="contraction"/>
                  <valItem ident="brevigraph">
                    <equiv name="tbx:termType"/>
                    <!-- termNote[@type='termType'] == "symbol" -->
                  </valItem>
                  <valItem ident="superscription"/>
                  <valItem ident="acronym">
                    <equiv name="tbx:termType"/>
                    <!-- termNote[@type='termType'] == "acronym" -->
                  </valItem>
                  <valItem ident="title"/>
                  <valItem ident="organization"/>
                  <valItem ident="geographic"/>
                </valList>
              </attDef>
            </attList>
          </elementSpec>

          <elementSpec ident="bibl" module="core" mode="change">
            <equiv name="tbx:source"/>
          </elementSpec>

          <elementSpec ident="date" module="core" mode="change">
            <equiv name="tbx:date"/>
          </elementSpec>

          <elementSpec ident="def" module="dictionaries" mode="change">
            <equiv name="tbx:definition"/>
            <attList>
              <attDef ident="valueDatcat" usage="opt" mode="change">
                <valList type="open">
                  <valItem ident="extensionalDefinition">
                    <equiv name="tbx:definitionType"/>
                    <!-- descrip[@type='definitionType'] == "extensionalDefinition" -->
                  </valItem>
                  <valItem ident="intensionalDefinition">
                    <equiv name="tbx:definitionType"/>
                    <!-- descrip[@type='definitionType'] == "intensionalDefinition" -->
                  </valItem>
                  <valItem ident="partitiveDefinition">
                    <equiv name="tbx:definitionType"/>
                    <!-- descrip[@type='definitionType'] == "partitiveDefinition" -->
                  </valItem>
                  <valItem ident="translatedDefinition">
                    <equiv name="tbx:definitionType"/>
                    <!-- descrip[@type='definitionType'] == "translatedDefinition" -->
                  </valItem>
                </valList>
              </attDef>
            </attList>
          </elementSpec>

          <elementSpec ident="etym" module="dictionaries" mode="change">
            <equiv name="tbx:etymology"/>
          </elementSpec>

          <elementSpec ident="foreign" module="core" mode="change">
            <equiv name="tbx:foreign"/>
          </elementSpec>

          <elementSpec ident="formula" module="core" mode="change">
            <equiv name="tbx:math"/>
            <attList>
              <attDef ident="notation" usage="opt" mode="change">
                <valList type="open">
                  <valItem ident="mathml">
                    <equiv name="tbx:xMathML"/>
                  </valItem>
                </valList>
              </attDef>
            </attList>
          </elementSpec>

          <elementSpec ident="gram" module="dictionaries" mode="change">
            <attList>
              <attDef ident="type" usage="opt" mode="change">
                <valList type="closed">
                  <valItem ident="pos">
                    <equiv name="tbx:partOfSpeech"/>
                  </valItem>
                  <valItem ident="gen">
                    <equiv name="tbx:grammaticalGender"/>
                  </valItem>
                  <valItem ident="num">
                    <equiv name="tbx:grammaticalNumber"/>
                  </valItem>
                  <valItem ident="animate">
                    <equiv name="tbx:animacy"/>
                  </valItem>
                  <valItem ident="proper"/>
                </valList>
              </attDef>
            </attList>
          </elementSpec>

          <elementSpec ident="hi" module="core" mode="change">
            <equiv name="tbx:hi"/>
            <attList>
              <attDef ident="rend" usage="opt" mode="change">
                <valList type="open">
                  <valItem ident="bold">
                    <equiv name="tbx:bold"/>
                  </valItem>
                  <valItem ident="italic">
                    <equiv name="tbx:italics"/>
                  </valItem>
                  <valItem ident="subscript">
                    <equiv name="tbx:subscript"/>
                  </valItem>
                  <valItem ident="superscript">
                    <equiv name="tbx:superscript"/>
                  </valItem>
                </valList>
              </attDef>
            </attList>
          </elementSpec>

          <elementSpec ident="hom" module="dictionaries" mode="change">
            <equiv name="tbx:homograph"/>
          </elementSpec>

          <elementSpec ident="hyph" module="dictionaries" mode="change">
            <equiv name="tbx:hyphenation"/>
          </elementSpec>

          <elementSpec ident="m" module="analysis" mode="change">
            <equiv name="tbx:morphologicalElement"/>
          </elementSpec>

          <elementSpec ident="media" module="core" mode="change">
            <equiv name="tbx:xAudio"/>
            <equiv name="tbx:xGraphic"/>
            <equiv name="tbx:xVideo"/>
          </elementSpec>

          <elementSpec ident="mentioned" module="core" mode="change">
            <equiv name="tbx:entailedTerm"/>
          </elementSpec>

          <elementSpec ident="note" module="core" mode="change">
            <equiv name="tbx:note"/>
          </elementSpec>

          <elementSpec ident="orth" module="dictionaries" mode="change">
            <equiv name="tbx:term"/>
            <attList>
              <attDef ident="type" usage="opt" mode="change">
                <valList type="open">
                  <valItem ident="transliterated">
                    <equiv name="tbx:termType"/>
                    <!-- termNote[@type='termType'] == "transliteratedForm" -->
                  </valItem>
                </valList>
              </attDef>
              <attDef ident="orig" usage="opt" mode="change">
                <equiv name="tbx:termType"/>
                <!-- termNote[@type='termType'] == "transcribedForm" -->
              </attDef>
            </attList>
          </elementSpec>

          <elementSpec ident="pron" module="dictionaries" mode="change">
            <equiv name="tbx:pronunciation"/>
          </elementSpec>

          <elementSpec ident="ptr" module="core" mode="change">
            <equiv name="tbx:externalCrossReference"/>
          </elementSpec>

          <elementSpec ident="ref" module="core" mode="change">
            <equiv name="tbx:crossReference"/>
          </elementSpec>

          <elementSpec ident="syll" module="dictionaries" mode="change">
            <equiv name="tbx:syllabification"/>
          </elementSpec>

          <elementSpec ident="tag" module="tagdocs" mode="change">
            <attList>
              <attDef ident="type" usage="opt" mode="change">
                <valList type="closed">
                  <valItem ident="start">
                    <equiv name="tbx:sc"/>
                  </valItem>
                  <valItem ident="end">
                    <equiv name="tbx:ec"/>
                  </valItem>
                  <valItem ident="empty">
                    <equiv name="tbx:ph"/>
                  </valItem>
                  <valItem ident="pi"/>
                  <valItem ident="comment"/>
                  <valItem ident="ms"/>
                </valList>
              </attDef>
            </attList>
          </elementSpec>

          <elementSpec ident="cit" module="core" mode="change">
            <attList>
              <attDef ident="type" usage="opt" mode="change">
                <valList type="open">
                  <valItem ident="characteristic">
                    <equiv name="tbx:characteristic"/>
                  </valItem>
                  <valItem ident="context">
                    <equiv name="tbx:context"/>
                  </valItem>
                  <valItem ident="example">
                    <equiv name="tbx:example"/>
                  </valItem>
                  <valItem ident="explanation">
                    <equiv name="tbx:explanation"/>
                  </valItem>
                </valList>
              </attDef>
              <attDef ident="subtype" usage="opt" mode="change">
                <valList type="open">
                  <valItem ident="associativeContext">
                    <equiv name="tbx:contextType"/>
                    <!-- descrip[@type='contextType'] == "associativeContext" -->
                  </valItem>
                  <valItem ident="definingContext">
                    <equiv name="tbx:contextType"/>
                    <!-- descrip[@type='contextType'] == "definingContext" -->
                  </valItem>
                  <valItem ident="explanatoryContext">
                    <equiv name="tbx:contextType"/>
                    <!-- descrip[@type='contextType'] == "explanatoryContext" -->
                  </valItem>
                  <valItem ident="linguisticContext">
                    <equiv name="tbx:contextType"/>
                    <!-- descrip[@type='contextType'] == "linguisticContext" -->
                  </valItem>
                  <valItem ident="metalinguisticContext">
                    <equiv name="tbx:contextType"/>
                    <!-- descrip[@type='contextType'] == "metalinguisticContext" -->
                  </valItem>
                  <valItem ident="translatedContext">
                    <equiv name="tbx:contextType"/>
                    <!-- descrip[@type='contextType'] == "translatedContext" -->
                  </valItem>
                </valList>
              </attDef>
            </attList>
          </elementSpec>
          
          <elementSpec ident="usg" module="dictionaries" mode="change">
            <equiv name="tbx:usageNote"/>
            <attList>
              <attDef ident="type" usage="opt" mode="change">
                <valList type="closed">
                  <valItem ident="geo">
                    <equiv name="tbx:geographicalUsage"/>
                  </valItem>
                  <valItem ident="time">
                    <equiv name="tbx:temporalQualifier"/>
                  </valItem>
                  <valItem ident="dom">
                    <equiv name="tbx:subjectField"/>
                  </valItem>
                  <valItem ident="register">
                    <equiv name="tbx:register"/>
                  </valItem>
                  <valItem ident="style"/>
                  <valItem ident="plev"/>
                  <valItem ident="lang"/>
                  <valItem ident="gram"/>
                  <valItem ident="syn">
                    <equiv name="tbx:termType"/>
                    <!-- termNote[@type='termType'] == "synonym", "synonymousPhrase" -->
                  </valItem>
                  <valItem ident="hyper"/>
                  <valItem ident="comp"/>
                  <valItem ident="hint"/>

                  <!-- the following can be included in the free-form text of tbx:grammaticalValency -->
                  <valItem ident="colloc"/>
                  <valItem ident="obj"/>
                  <valItem ident="subj"/>
                  <valItem ident="verb"/>

                  <!-- the following are not TEI presets -->
                  <valItem ident="directionality">
                    <equiv name="tbx:directionality"/>
                  </valItem>
                  <valItem ident="frequency">
                    <equiv name="tbx:frequency"/>
                  </valItem>
                  <valItem ident="ant">
                    <equiv name="tbx:antonymTerm"/>
                  </valItem>
                  <valItem ident="falsefriend">
                    <equiv name="tbx:falseFriend"/>
                  </valItem>
                </valList>
              </attDef>
            </attList>
          </elementSpec>

          <elementSpec ident="xr" module="dictionaries" mode="change">
            <equiv name="tbx:see"/>
          </elementSpec>

        </specGrp>

      </div>
    </body>
  </text>
</TEI>
