terminology/specification/TBXinTEI.odd

<?xml version="1.0" encoding="UTF-8"?>
<?oxygen RNGSchema="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_odds.rnc" type="compact"?>
<TEI xml:lang="en" xmlns="http://www.tei-c.org/ns/1.0" xmlns:tbx="http://www.tbx.org"
  xmlns:sch="http://purl.oclc.org/dsdl/schematron">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>TBX Extension to TEI</title>
        <author>Laurent Romary</author>
        <author>Stefan Pernes</author>
      </titleStmt>
      <publicationStmt>
        <authority>Inria</authority>
        <availability status="free">
          <p>This document is intended to be submitted as a new chapter of the TEI guidelines. It
            can be thus disseminated as widely as necessary, but please contact the author if you
            want to fork it with modifications, so that these can be included in any future
            version.</p>
          <licence target="http://creativecommons.org/licenses/by/3.0/">
            <p>The Creative Commons Attribution 3.0 Unported (CC BY 3.0) Licence applies to this
              document.</p>
            <p>
              <!--You can quote this document as: <q>Romary, L., TBX extension to TEI; ODD specification. 2014</q>-->
            </p>
          </licence>
        </availability>
      </publicationStmt>
      <sourceDesc>
        <p>COMMITTEE DRAFT ISO/CD 30042 (N 1097)</p>
      </sourceDesc>
    </fileDesc>
  </teiHeader>
  <text>
    <body>
      <div>
        <head>Modeling Onomasiological Data</head>
        <div>
          <head>Introduction</head>
          <p>mission statement, complementary to dictionaries chapter, modus operandi: modeling use
            cases (-> preliminary typology of onomasiological data in the humanities)</p>
          <p>definitions: onomasio- vs. semasiological, principles of terminology representation
            (concept orientation, term autonomy), TMF principles (meta structure + data
            categories)</p>
          <p>relationship: TBX as TMF implementation, TEI-TBX as modifying TBX core (subsetting as
            well as extending), TEI-TBX follows the TMF meta-structure and thus is a valid TML,
            modifying only DCs</p>
          <egXML xmlns="http://www.tei-c.org/ns/Examples"> example meta structure </egXML>
        </div>
        <div>
          <head>Description of Elements and Data Categories</head>
          <p>illustrate DCs with use cases, inkl. description of use case specifities</p>
          <div>
            <head>The Structure of an Entry</head>
          </div>
          <div>
            <head>Concept-related Description</head>
            <p>based on descrip</p>
            <p>inkl. Concept relations</p>
            <p>EXAMPLE -> USE CASE</p>
          </div>
          <div>
            <head>Term-related Description</head>
            <p>based on form</p>
            <p>EXAMPLE ?</p>
          </div>
          <div>
            <head>Encoding Inventories and Thing-ographies</head>
            <p>EXAMPLE -> USE CASE</p>
          </div>
          <div>
            <head>Encoding Historical Encyclopaedias</head>
            <p>EXAMPLE -> USE CASE</p>
          </div>
          <div>
            <head>Encoding Comparative Lexicographical Data</head>
            <p>EXAMPLE -> USE CASE</p>
          </div>
          <div>
            <head>Conceptual Systems / Ontologies / References and cross-references</head>
            <p>EXAMPLE ?</p>
          </div>
        </div>
        <div>
          <head>Appendix</head>
          <div>
            <head>List of ISO Data Categories</head>
            <p>A comprehensive selection of data categories for description of conceptual systems (cf. <bibl>ISO 12620 (1999). Terminology and other language and content resources – Specification of data cate- gories and management of a Data Category Registry for language resources. Standard, International Organization for Standardization, Geneva, Switzerland.</bibl>)</p>
            <table>
              <row role="label">
                <cell/>
                <cell>Name</cell>
                <cell>Contents</cell>
                <cell>PID</cell>
              </row>
              <row>
                <cell role="label">Concept-related description</cell>
                <cell>conceptPosition</cell>
                <cell>The position of a concept in a concept system</cell>
                <cell>http://www.datcatinfo.net/datcat/DC-141</cell>
              </row>
              <row>
                <cell/>
                <cell>subjectField</cell>
                <cell>A field of special knowledge</cell>
                <cell>http://www.datcatinfo.net/datcat/DC-489</cell>
              </row>
              <row>
                <cell role="label">Concept relations</cell>
                <cell>antonymConcept</cell>
                <cell>A concept which constitutes the opposite of the concept represented by a second term</cell>
                <cell>http://www.datcatinfo.net/datcat/DC-82</cell>
              </row>
              <row>
                <cell/>
                <cell>associatedConcept</cell>
                <cell>A concept that exhibits a relation to the subject concept that can be established on the basis of non-hierarchical thematic connections.</cell>
                <cell>http://www.datcatinfo.net/datcat/DC-87</cell>
              </row>
              <row>
                <cell/>
                <cell>broaderConcept</cell>
                <cell/>
                <cell/>
              </row>
              <row>
                <cell/>
                <cell>broaderConceptGeneric</cell>
                <cell>A concept two or more levels of abstraction higher than subject concept in a generic hierarchical concept system.</cell>
                <cell>http://www.datcatinfo.net/datcat/DC-94</cell>
              </row>
              <row>
                <cell/>
                <cell>broaderConceptPartitive</cell>
                <cell>A concept two or more levels of abstraction higher than subject concept in a part-whole or meronymic hierarchical concept system.</cell>
                <cell>http://www.datcatinfo.net/datcat/DC-95</cell>
              </row>
              <row>
                <cell/>
                <cell>narrowerConcept</cell>
                <cell/>
                <cell/>
              </row>
              <row>
                <cell/>
                <cell>narrowerConceptGeneric</cell>
                <cell/>
                <cell/>
              </row>
              <row>
                <cell/>
                <cell>narrowerConceptPartitive</cell>
                <cell/>
                <cell/>
              </row>
              <row>
                <cell/>
                <cell>coordinateConceptGeneric</cell>
                <cell>A subordinate concept having the same nearest superordinate concept and same criterion of subdivision as some other concept in a given generic concept system</cell>
                <cell>http://www.datcatinfo.net/datcat/DC-159</cell>
              </row>
              <row>
                <cell/>
                <cell>coordinateConceptPartitive</cell>
                <cell>A subordinate concept having the same nearest superordinate concept and same criterion of subdivision as some other concept in a given partitive concept system</cell>
                <cell>http://www.datcatinfo.net/datcat/DC-160</cell>
              </row>
              <row>
                <cell/>
                <cell>relatedConcept</cell>
                <cell>A concept that has an associative relation to another concept</cell>
                <cell>http://www.datcatinfo.net/datcat/DC-435</cell>
              </row>
              <row>
                <cell/>
                <cell>relatedConceptBroader</cell>
                <cell>A concept that is roughly broader at some level with respect to a related or associative concept, but without there comprising any clear-cut reference to a defined generic or partitive system</cell>
                <cell>http://www.datcatinfo.net/datcat/DC-436</cell>
              </row>
              <row>
                <cell/>
                <cell>relatedConceptNarrower</cell>
                <cell>A concept that is roughly narrower at some level with respect to a related or associative concept, but without there comprisng any clear-cut reference to a defined generic or partitive system of concepts</cell>
                <cell>http://www.datcatinfo.net/datcat/DC-437</cell>
              </row>
              <row>
                <cell/>
                <cell>sequentiallyRelatedConcept</cell>
                <cell>An associative relation based on spatial or temporal proximity</cell>
                <cell>http://www.datcatinfo.net/datcat/DC-467</cell>
              </row>
              <row>
                <cell/>
                <cell>spatiallyRelatedConcept</cell>
                <cell>A relation of dependence between concepts referring to objects based on their relative positions in space</cell>
                <cell>http://www.datcatinfo.net/datcat/DC-477</cell>
              </row>
              <row>
                <cell/>
                <cell>temporallyRelatedConcept</cell>
                <cell>A concept related to the subject concept through a sequential relation involving events in time</cell>
                <cell>http://www.datcatinfo.net/datcat/DC-2916</cell>
              </row>
              <row>
                <cell/>
                <cell>subordinateConcept</cell>
                <cell>A concept in a hierarchical system that can be grouped together with at least one more concept of the same level to form a higher ranking concept</cell>
                <cell>http://www.datcatinfo.net/datcat/DC-490</cell>
              </row>
              <row>
                <cell/>
                <cell>subordinateConceptGeneric</cell>
                <cell>A concept in a generic relation having the broader intension</cell>
                <cell>http://www.datcatinfo.net/datcat/DC-491</cell>
              </row>
              <row>
                <cell/>
                <cell>subordinateConceptPartitive</cell>
                <cell>A concept in a partitive relation viewed as one of the parts making up the whole</cell>
                <cell>http://www.datcatinfo.net/datcat/DC-492</cell>
              </row>
              <row>
                <cell/>
                <cell>superordinateConcept</cell>
                <cell>A concept which is either a generic concept or a comprehensive concept</cell>
                <cell>http://www.datcatinfo.net/datcat/DC-495</cell>
              </row>
              <row>
                <cell/>
                <cell>superordinateConceptGeneric</cell>
                <cell>A concept in a generic relation having the narrower intension</cell>
                <cell>http://www.datcatinfo.net/datcat/DC-496</cell>
              </row>
              <row>
                <cell/>
                <cell>superordinateConceptPartitive</cell>
                <cell>A concept that has a partitive relation with the subject concept, and represents the sum of the parts; a comprehensive concept</cell>
                <cell>http://www.datcatinfo.net/datcat/DC-2915</cell>
              </row>
            </table>
          </div>
          <div>
            <head>List of WordNet Supersenses</head>
            <p>Supersenses can be used as controlled vocabulary for the DC subjectField, useful for encoding
              inventories/thingographies (cf. <ref>https://wordnet.princeton.edu/man/lexnames.5WN.html</ref>)</p>
            <table>
              <row role="label">
                <cell/>
                <cell>Name</cell>
                <cell>Contents</cell>
              </row>
              <row>
                <cell role="label">Adjectives</cell>
                <cell>adj.all</cell>
                <cell>all adjective clusters</cell>
              </row>
              <row>
                <cell/>
                <cell>adj.pert</cell>
                <cell>relational adjectives (pertainyms)</cell>
              </row>
              <row>
                <cell/>
                <cell>adj.ppl</cell>
                <cell>participial adjectives</cell>
              </row>
              <row>
                <cell role="label">Adverbs</cell>
                <cell>adv.all</cell>
                <cell>all adverbs</cell>
              </row>
              <row>
                <cell role="label">Nouns</cell>
                <cell>noun.act</cell>
                <cell>nouns denoting acts or actions</cell>
              </row>
              <row>
                <cell/>
                <cell>noun.animal</cell>
                <cell>nouns denoting animals</cell>
              </row>
              <row>
                <cell/>
                <cell>noun.artifact</cell>
                <cell>nouns denoting man-made objects</cell>
              </row>
              <row>
                <cell/>
                <cell>noun.attribute</cell>
                <cell>nouns denoting attributes of people and objects</cell>
              </row>
              <row>
                <cell/>
                <cell>noun.body</cell>
                <cell>nouns denoting body parts</cell>
              </row>
              <row>
                <cell/>
                <cell>noun.cognition</cell>
                <cell>nouns denoting cognitive processes and contents</cell>
              </row>
              <row>
                <cell/>
                <cell>noun.communication</cell>
                <cell>nouns denoting communicative processes and contents</cell>
              </row>
              <row>
                <cell/>
                <cell>noun.event</cell>
                <cell>nouns denoting natural events</cell>
              </row>
              <row>
                <cell/>
                <cell>noun.feeling</cell>
                <cell>nouns denoting feelings and emotions</cell>
              </row>
              <row>
                <cell/>
                <cell>noun.food</cell>
                <cell>nouns denoting foods and drinks</cell>
              </row>
              <row>
                <cell/>
                <cell>noun.group</cell>
                <cell>nouns denoting groupings of people or objects</cell>
              </row>
              <row>
                <cell/>
                <cell>noun.location</cell>
                <cell>nouns denoting spatial position</cell>
              </row>
              <row>
                <cell/>
                <cell>noun.motive</cell>
                <cell>nouns denoting goals</cell>
              </row>
              <row>
                <cell/>
                <cell>noun.object</cell>
                <cell>nouns denoting natural objects (not man-made)</cell>
              </row>
              <row>
                <cell/>
                <cell>noun.person</cell>
                <cell>nouns denoting people</cell>
              </row>
              <row>
                <cell/>
                <cell>noun.phenomenon</cell>
                <cell>nouns denoting natural phenomena</cell>
              </row>
              
              <row>
                <cell/>
                <cell>noun.plant</cell>
                <cell>nouns denoting plants</cell>
              </row>
              <row>
                <cell/>
                <cell>noun.possession</cell>
                <cell>nouns denoting possession and transfer of possession</cell>
              </row>
              <row>
                <cell/>
                <cell>noun.process</cell>
                <cell>nouns denoting natural processes</cell>
              </row>
              <row>
                <cell/>
                <cell>noun.quantity</cell>
                <cell>nouns denoting quantities and units of measure</cell>
              </row>
              <row>
                <cell/>
                <cell>noun.relation</cell>
                <cell>nouns denoting relations between people or things or ideas</cell>
              </row>
              <row>
                <cell/>
                <cell>noun.shape</cell>
                <cell>nouns denoting two and three dimensional shapes</cell>
              </row>
              <row>
                <cell/>
                <cell>noun.state</cell>
                <cell>nouns denoting stable states of affairs</cell>
              </row>
              <row>
                <cell/>
                <cell>noun.substance</cell>
                <cell>nouns denoting substances</cell>
              </row>
              <row>
                <cell/>
                <cell>noun.time</cell>
                <cell>nouns denoting time and temporal relations</cell>
              </row>
              <row>
                <cell role="label">Verbs</cell>
                <cell>verb.body</cell>
                <cell>verbs of grooming, dressing and bodily care</cell>
              </row>
              <row>
                <cell/>
                <cell>verb.change</cell>
                <cell>verbs of size, temperature change, intensifying, etc.</cell>
              </row>
              <row>
                <cell/>
                <cell>verb.cognition</cell>
                <cell>verbs of thinking, judging, analyzing, doubting</cell>
              </row>
              <row>
                <cell/>
                <cell>verb.communication</cell>
                <cell>verbs of telling, asking, ordering, singing</cell>
              </row>
              <row>
                <cell/>
                <cell>verb.competition</cell>
                <cell>verbs of fighting, athletic activities</cell>
              </row>
              <row>
                <cell/>
                <cell>verb.consumption</cell>
                <cell>verbs of eating and drinking</cell>
              </row>
              <row>
                <cell/>
                <cell>verb.contact</cell>
                <cell>verbs of touching, hitting, tying, digging</cell>
              </row>
              <row>
                <cell/>
                <cell>verb.creation</cell>
                <cell>verbs of sewing, baking, painting, performing</cell>
              </row>
              <row>
                <cell/>
                <cell>verb.emotion</cell>
                <cell>verbs of feeling</cell>
              </row>
              <row>
                <cell/>
                <cell>verb.motion</cell>
                <cell>verbs of walking, flying, swimming</cell>
              </row>
              <row>
                <cell/>
                <cell>verb.perception</cell>
                <cell>verbs of seeing, hearing, feeling</cell>
              </row>
              <row>
                <cell/>
                <cell>verb.possession</cell>
                <cell>verbs of buying, selling, owning</cell>
              </row>
              <row>
                <cell/>
                <cell>verb.social</cell>
                <cell>verbs of political and social activities and events</cell>
              </row>
              <row>
                <cell/>
                <cell>verb.stative</cell>
                <cell>verbs of being, having, spatial relations</cell>
              </row>
              <row>
                <cell/>
                <cell>verb.weather</cell>
                <cell>verbs of raining, snowing, thawing, thundering</cell>
              </row>
            </table>
          </div>
        </div>

      </div>
      <div>
        <schemaSpec ident="TBXinTEI" start="TEI teiCorpus">
          <moduleRef key="tei"/>
          <moduleRef key="header"/>
          <moduleRef key="core"/>
          <moduleRef key="textstructure" include="TEI text body div front back floatingText"/>
          <moduleRef key="dictionaries"/>
          
          <!-- not core structure, used for equiv specifications and example encodings -->
          <moduleRef key="namesdates"/>
          <moduleRef key="linking"/>
          <moduleRef key="tagdocs"/>

          <specGrpRef target="#spec-term-entries"/>
          <specGrpRef target="#spec-equiv"/>
        </schemaSpec>

        <specGrp xml:id="spec-term-entries">
          <!-- Elements needed for terminological entries -->

          <elementSpec ident="conceptEntry">
            <desc>The root element of a terminological entry. It shall contain at least one language
              section.</desc>
            <equiv name="tbx:conceptEntry"/>
            <classes>
              <memberOf key="att.global"/>
              <memberOf key="att.entryLike"/>
              <memberOf key="att.sortable"/>
              <memberOf key="model.entryLike"/>
            </classes>
            <content>
              <alternate minOccurs="1" maxOccurs="unbounded">
                <elementRef key="conceptDesc" minOccurs="0" maxOccurs="unbounded"/>
                <elementRef key="langSec" minOccurs="1" maxOccurs="unbounded"/>
                <!-- provide headword + information shared by all langSec's -->
                <elementRef key="model.entryPart.top" minOccurs="0" maxOccurs="unbounded"/>
              </alternate>
            </content>
            <exemplum xml:lang="en">
              <egXML xmlns="http://www.tei-c.org/ns/Examples">
                <conceptEntry/>
              </egXML>
            </exemplum>
            <remarks>
              <p>...</p>
            </remarks>
          </elementSpec>

          <elementSpec ident="langSec">
            <desc>A nesting element that contains all the information in a terminological entry
              pertaining to one language, including all the <gi>termSec</gi> elements (terms and
              associated information) for that language.</desc>
            <equiv name="tbx:langSec"/>
            <classes>
              <memberOf key="att.global"/>
            </classes>
            <content>
              <alternate minOccurs="1" maxOccurs="unbounded">
                <elementRef key="conceptDesc" minOccurs="0" maxOccurs="unbounded"/>
                <elementRef key="termSec" minOccurs="0" maxOccurs="unbounded"/>
                <!-- provide information shared by all termSec's + possibility to use form, sense.. instead of termSec -->
                <elementRef key="model.entryPart" minOccurs="0" maxOccurs="unbounded"/>
                <!-- model.global is included in entry element, but not needed to model TBX-in-TEI use cases -->
                <!-- <elementRef key="model.global" minOccurs="0" maxOccurs="unbounded"/> -->
                <elementRef key="model.noteLike" minOccurs="0" maxOccurs="unbounded"/>  <!-- instead of model.global -->
                <elementRef key="model.ptrLike" minOccurs="0" maxOccurs="unbounded"/>
              </alternate>
            </content>
            <constraintSpec scheme="schematron" ident="langSec">
              <constraint>
                <sch:pattern name="langSec_termSecOrSense">
                  <sch:rule context="langSec">
                    <sch:assert test="not(termSec and sense)">Either termSec or sense should be used
                      to bundle lexicographic information.</sch:assert>
                  </sch:rule>
                </sch:pattern>
              </constraint>
            </constraintSpec>
            <attList>
              <attDef ident="xml:lang" usage="req" mode="change"/>
            </attList>
            <exemplum xml:lang="en">
              <egXML xmlns="http://www.tei-c.org/ns/Examples">
                <langSec xml:lang="en"/>
              </egXML>
            </exemplum>
          </elementSpec>

          <elementSpec ident="termSec">
            <desc>A <emph>term information group</emph>. A grouping element that contains child
              elements describing a term. It is often referred to as the <emph>term
              section</emph>.</desc>
            <equiv name="tbx:termSec"/>
            <classes>
              <memberOf key="att.global"/>
              <memberOf key="att.lexicographic"/>
            </classes>
            <content>
              <alternate minOccurs="1" maxOccurs="unbounded">
                <elementRef key="conceptDesc" minOccurs="0" maxOccurs="unbounded"/>
                <elementRef key="model.gLike" minOccurs="0" maxOccurs="unbounded"/>
                <elementRef key="model.phrase" minOccurs="0" maxOccurs="unbounded"/>  <!-- includes model.ptrLike -->
                <elementRef key="model.formPart" minOccurs="1" maxOccurs="unbounded"/>
                <!-- model.global is included in form, sense element, but not needed to model TBX-in-TEI use cases -->
                <!-- <elementRef key="model.global" minOccurs="0" maxOccurs="unbounded"/> -->
                <elementRef key="model.noteLike" minOccurs="0" maxOccurs="unbounded"/>  <!-- instead of model.global -->
                <!-- use only a subset of model.inter -->
                <elementRef key="model.biblLike" minOccurs="0" maxOccurs="unbounded"/>
                <elementRef key="model.qLike" minOccurs="0" maxOccurs="unbounded"/>   <!-- includes floatingText -->
                <!-- allow termSec to group most other information, similar to sense -->
                <elementRef key="model.entryPart.top" minOccurs="0" maxOccurs="unbounded"/>
              </alternate>
            </content>
            <attList>
              <attDef ident="type" usage="opt">
                <valList type="open">
                  <valItem ident="simple"/>
                  <valItem ident="lemma">
                    <equiv name="tbx:lemma"/>
                  </valItem>
                  <valItem ident="variant">
                    <equiv name="tbx:termType"/>
                    <!-- termNote[@type='termType'] == "variant" -->
                  </valItem>
                  <valItem ident="compound"/>
                  <valItem ident="derivative"/>
                  <valItem ident="inflected"/>
                  <valItem ident="phrase"/>
                  <valItem ident="full">
                    <equiv name="tbx:termType"/>
                    <!-- termNote[@type='termType'] == "fullForm" -->
                  </valItem>
                  <valItem ident="abbrev">
                    <equiv name="tbx:abbreviatedFormFor"/>
                  </valItem>
                </valList>
              </attDef>
            </attList>
            <exemplum xml:lang="en">
              <egXML xmlns="http://www.tei-c.org/ns/Examples">
                <termSec type="compound"/>
              </egXML>
            </exemplum>
          </elementSpec>

          <elementSpec ident="conceptDesc">
            <desc>An element that contains descriptive information about a concept, or relations to
              other concepts. The type of information that the element contains, and any
              restrictions on the permissible values of the element, are determined by the value of
              the <att>type</att> attribute.</desc>
            <classes>
              <memberOf key="att.datcat"/>
              <memberOf key="att.global"/>
            </classes>
            <content>
              <alternate minOccurs="0" maxOccurs="unbounded">
                <textNode/>
              </alternate>
            </content>
            <constraintSpec scheme="schematron" ident="conceptDesc">
              <constraint>
                <sch:pattern name="conceptDesc_typeOrCorresp">
                  <sch:rule context="conceptDesc">
                    <sch:assert test="@type or @corresp">The @type attribute must be specified in conceptDesc,
                      except in the case where only a @corresp URI is needed.</sch:assert>
                  </sch:rule>
                </sch:pattern>
              </constraint>
            </constraintSpec>
            <attList>
              <attDef ident="type" usage="opt">
                <desc>Indicates the data-category type of the <gi>conceptDesc</gi> element, such as
                    <val>subjectField</val> or <val>associatedConcept</val>.</desc>
                <datatype>
                  <dataRef key="teidata.text"/>
                </datatype>
                <valList type="closed">
                  <valItem ident="conceptPosition"/>
                  <valItem ident="subjectField"/>
                  <valItem ident="antonymConcept"/>
                  <valItem ident="associatedConcept"/>
                  <valItem ident="broaderConcept"/>
                  <valItem ident="broaderConceptGeneric"/>
                  <valItem ident="broaderConceptPartitive"/>
                  <valItem ident="narrowerConcept"/>
                  <valItem ident="narrowerConceptGeneric"/>
                  <valItem ident="narrowerConceptPartitive"/>
                  <valItem ident="coordinateConceptGeneric"/>
                  <valItem ident="coordinateConceptPartitive"/>
                  <valItem ident="relatedConcept"/>
                  <valItem ident="relatedConceptBroader"/>
                  <valItem ident="sequentiallyRelatedConcept"/>
                  <valItem ident="spatiallyRelatedConcept"/>
                  <valItem ident="temporallyRelatedConcept"/>
                  <valItem ident="subordinateConcept"/>
                  <valItem ident="subordinateConceptGeneric"/>
                  <valItem ident="subordinateConceptPartitive"/>
                  <valItem ident="superordinateConcept"/>
                  <valItem ident="superordinateConceptGeneric"/>
                  <valItem ident="superordinateConceptPartitive"/>
                </valList>
              </attDef>
              <attDef ident="grade" usage="opt">
                <datatype>
                  <dataRef key="teidata.percentage"/>
                </datatype>
              </attDef>
              <attDef ident="target" usage="opt">
                <datatype>
                  <dataRef key="teidata.pointer"/>
                </datatype>
              </attDef>
            </attList>
          </elementSpec>

        </specGrp>

        <specGrp xml:id="spec-equiv">
          <!-- Additional definitions of TBX equivalents for TEI constructs -->

          <elementSpec ident="abbr" module="core" mode="change">
            <equiv name="tbx:termType"/>
            <!-- termNote[@type='termType'] == "abbreviation" -->
            <attList>
              <attDef ident="type" mode="change">
                <valList type="open">
                  <valItem ident="suspension">
                    <equiv name="tbx:termType"/>
                    <!-- termNote[@type='termType'] == "clippedTerm" -->
                  </valItem>
                  <valItem ident="contraction"/>
                  <valItem ident="brevigraph">
                    <equiv name="tbx:termType"/>
                    <!-- termNote[@type='termType'] == "symbol" -->
                  </valItem>
                  <valItem ident="superscription"/>
                  <valItem ident="acronym">
                    <equiv name="tbx:termType"/>
                    <!-- termNote[@type='termType'] == "acronym" -->
                  </valItem>
                  <valItem ident="title"/>
                  <valItem ident="organization"/>
                  <valItem ident="geographic"/>
                </valList>
              </attDef>
            </attList>
          </elementSpec>

          <elementSpec ident="bibl" module="core" mode="change">
            <equiv name="tbx:source"/>
          </elementSpec>

          <elementSpec ident="date" module="core" mode="change">
            <equiv name="tbx:date"/>
          </elementSpec>

          <elementSpec ident="def" module="dictionaries" mode="change">
            <equiv name="tbx:definition"/>
            <attList>
              <attDef ident="valueDatcat" usage="opt" mode="change">
                <valList type="open">
                  <valItem ident="extensionalDefinition">
                    <equiv name="tbx:definitionType"/>
                    <!-- descrip[@type='definitionType'] == "extensionalDefinition" -->
                  </valItem>
                  <valItem ident="intensionalDefinition">
                    <equiv name="tbx:definitionType"/>
                    <!-- descrip[@type='definitionType'] == "intensionalDefinition" -->
                  </valItem>
                  <valItem ident="partitiveDefinition">
                    <equiv name="tbx:definitionType"/>
                    <!-- descrip[@type='definitionType'] == "partitiveDefinition" -->
                  </valItem>
                  <valItem ident="translatedDefinition">
                    <equiv name="tbx:definitionType"/>
                    <!-- descrip[@type='definitionType'] == "translatedDefinition" -->
                  </valItem>
                </valList>
              </attDef>
            </attList>
          </elementSpec>

          <elementSpec ident="etym" module="dictionaries" mode="change">
            <equiv name="tbx:etymology"/>
          </elementSpec>

          <elementSpec ident="foreign" module="core" mode="change">
            <equiv name="tbx:foreign"/>
          </elementSpec>

          <elementSpec ident="formula" module="core" mode="change">
            <equiv name="tbx:math"/>
            <attList>
              <attDef ident="notation" usage="opt" mode="change">
                <valList type="open">
                  <valItem ident="mathml">
                    <equiv name="tbx:xMathML"/>
                  </valItem>
                </valList>
              </attDef>
            </attList>
          </elementSpec>

          <elementSpec ident="gram" module="dictionaries" mode="change">
            <attList>
              <attDef ident="type" usage="opt" mode="change">
                <valList type="closed">
                  <valItem ident="pos">
                    <equiv name="tbx:partOfSpeech"/>
                  </valItem>
                  <valItem ident="gen">
                    <equiv name="tbx:grammaticalGender"/>
                  </valItem>
                  <valItem ident="num">
                    <equiv name="tbx:grammaticalNumber"/>
                  </valItem>
                  <valItem ident="animate">
                    <equiv name="tbx:animacy"/>
                  </valItem>
                  <valItem ident="proper"/>
                </valList>
              </attDef>
            </attList>
          </elementSpec>

          <elementSpec ident="hi" module="core" mode="change">
            <equiv name="tbx:hi"/>
            <attList>
              <attDef ident="rend" usage="opt" mode="change">
                <valList type="open">
                  <valItem ident="bold">
                    <equiv name="tbx:bold"/>
                  </valItem>
                  <valItem ident="italic">
                    <equiv name="tbx:italics"/>
                  </valItem>
                  <valItem ident="subscript">
                    <equiv name="tbx:subscript"/>
                  </valItem>
                  <valItem ident="superscript">
                    <equiv name="tbx:superscript"/>
                  </valItem>
                </valList>
              </attDef>
            </attList>
          </elementSpec>

          <elementSpec ident="hom" module="dictionaries" mode="change">
            <equiv name="tbx:homograph"/>
          </elementSpec>

          <elementSpec ident="hyph" module="dictionaries" mode="change">
            <equiv name="tbx:hyphenation"/>
          </elementSpec>

          <elementSpec ident="m" module="analysis" mode="change">
            <equiv name="tbx:morphologicalElement"/>
          </elementSpec>

          <elementSpec ident="media" module="core" mode="change">
            <equiv name="tbx:xAudio"/>
            <equiv name="tbx:xGraphic"/>
            <equiv name="tbx:xVideo"/>
          </elementSpec>

          <elementSpec ident="mentioned" module="core" mode="change">
            <equiv name="tbx:entailedTerm"/>
          </elementSpec>

          <elementSpec ident="note" module="core" mode="change">
            <equiv name="tbx:note"/>
          </elementSpec>

          <elementSpec ident="orth" module="dictionaries" mode="change">
            <equiv name="tbx:term"/>
            <attList>
              <attDef ident="type" usage="opt" mode="change">
                <valList type="open">
                  <valItem ident="transliterated">
                    <equiv name="tbx:termType"/>
                    <!-- termNote[@type='termType'] == "transliteratedForm" -->
                  </valItem>
                </valList>
              </attDef>
              <attDef ident="orig" usage="opt" mode="change">
                <equiv name="tbx:termType"/>
                <!-- termNote[@type='termType'] == "transcribedForm" -->
              </attDef>
            </attList>
          </elementSpec>

          <elementSpec ident="pron" module="dictionaries" mode="change">
            <equiv name="tbx:pronunciation"/>
          </elementSpec>

          <elementSpec ident="ptr" module="core" mode="change">
            <equiv name="tbx:externalCrossReference"/>
          </elementSpec>

          <elementSpec ident="ref" module="core" mode="change">
            <equiv name="tbx:crossReference"/>
          </elementSpec>

          <elementSpec ident="syll" module="dictionaries" mode="change">
            <equiv name="tbx:syllabification"/>
          </elementSpec>

          <elementSpec ident="tag" module="tagdocs" mode="change">
            <attList>
              <attDef ident="type" usage="opt" mode="change">
                <valList type="closed">
                  <valItem ident="start">
                    <equiv name="tbx:sc"/>
                  </valItem>
                  <valItem ident="end">
                    <equiv name="tbx:ec"/>
                  </valItem>
                  <valItem ident="empty">
                    <equiv name="tbx:ph"/>
                  </valItem>
                  <valItem ident="pi"/>
                  <valItem ident="comment"/>
                  <valItem ident="ms"/>
                </valList>
              </attDef>
            </attList>
          </elementSpec>

          <elementSpec ident="cit" module="core" mode="change">
            <attList>
              <attDef ident="type" usage="opt" mode="change">
                <valList type="open">
                  <valItem ident="characteristic">
                    <equiv name="tbx:characteristic"/>
                  </valItem>
                  <valItem ident="context">
                    <equiv name="tbx:context"/>
                  </valItem>
                  <valItem ident="example">
                    <equiv name="tbx:example"/>
                  </valItem>
                  <valItem ident="explanation">
                    <equiv name="tbx:explanation"/>
                  </valItem>
                </valList>
              </attDef>
              <attDef ident="subtype" usage="opt" mode="change">
                <valList type="open">
                  <valItem ident="associativeContext">
                    <equiv name="tbx:contextType"/>
                    <!-- descrip[@type='contextType'] == "associativeContext" -->
                  </valItem>
                  <valItem ident="definingContext">
                    <equiv name="tbx:contextType"/>
                    <!-- descrip[@type='contextType'] == "definingContext" -->
                  </valItem>
                  <valItem ident="explanatoryContext">
                    <equiv name="tbx:contextType"/>
                    <!-- descrip[@type='contextType'] == "explanatoryContext" -->
                  </valItem>
                  <valItem ident="linguisticContext">
                    <equiv name="tbx:contextType"/>
                    <!-- descrip[@type='contextType'] == "linguisticContext" -->
                  </valItem>
                  <valItem ident="metalinguisticContext">
                    <equiv name="tbx:contextType"/>
                    <!-- descrip[@type='contextType'] == "metalinguisticContext" -->
                  </valItem>
                  <valItem ident="translatedContext">
                    <equiv name="tbx:contextType"/>
                    <!-- descrip[@type='contextType'] == "translatedContext" -->
                  </valItem>
                </valList>
              </attDef>
            </attList>
          </elementSpec>
          
          <elementSpec ident="usg" module="dictionaries" mode="change">
            <equiv name="tbx:usageNote"/>
            <attList>
              <attDef ident="type" usage="opt" mode="change">
                <valList type="closed">
                  <valItem ident="geo">
                    <equiv name="tbx:geographicalUsage"/>
                  </valItem>
                  <valItem ident="time">
                    <equiv name="tbx:temporalQualifier"/>
                  </valItem>
                  <valItem ident="dom">
                    <equiv name="tbx:subjectField"/>
                  </valItem>
                  <valItem ident="register">
                    <equiv name="tbx:register"/>
                  </valItem>
                  <valItem ident="style"/>
                  <valItem ident="plev"/>
                  <valItem ident="lang"/>
                  <valItem ident="gram"/>
                  <valItem ident="syn">
                    <equiv name="tbx:termType"/>
                    <!-- termNote[@type='termType'] == "synonym", "synonymousPhrase" -->
                  </valItem>
                  <valItem ident="hyper"/>
                  <valItem ident="comp"/>
                  <valItem ident="hint"/>

                  <!-- the following can be included in the free-form text of tbx:grammaticalValency -->
                  <valItem ident="colloc"/>
                  <valItem ident="obj"/>
                  <valItem ident="subj"/>
                  <valItem ident="verb"/>

                  <!-- the following are not TEI presets -->
                  <valItem ident="directionality">
                    <equiv name="tbx:directionality"/>
                  </valItem>
                  <valItem ident="frequency">
                    <equiv name="tbx:frequency"/>
                  </valItem>
                  <valItem ident="ant">
                    <equiv name="tbx:antonymTerm"/>
                  </valItem>
                  <valItem ident="falsefriend">
                    <equiv name="tbx:falseFriend"/>
                  </valItem>
                </valList>
              </attDef>
            </attList>
          </elementSpec>

          <elementSpec ident="form" module="dictionaries" mode="change">
            <attList>
              <attDef ident="type" usage="opt">
                <valList type="open">
                  <valItem ident="simple"/>
                  <valItem ident="lemma">
                    <equiv name="tbx:lemma"/>
                  </valItem>
                  <valItem ident="variant">
                    <equiv name="tbx:termType"/>
                    <!-- termNote[@type='termType'] == "variant" -->
                  </valItem>
                  <valItem ident="compound"/>
                  <valItem ident="derivative"/>
                  <valItem ident="inflected"/>
                  <valItem ident="phrase"/>
                  <valItem ident="full">
                    <equiv name="tbx:termType"/>
                    <!-- termNote[@type='termType'] == "fullForm" -->
                  </valItem>
                  <valItem ident="abbrev">
                    <equiv name="tbx:abbreviatedFormFor"/>
                  </valItem>
                </valList>
              </attDef>
            </attList>
          </elementSpec>

          <elementSpec ident="xr" module="dictionaries" mode="change">
            <equiv name="tbx:see"/>
          </elementSpec>
          
          <elementSpec ident="change" module="header" mode="change">
            <equiv name="tbx:transactionType"/>
          </elementSpec>
          
          <elementSpec ident="respStmt" module="core" mode="change">
            <!-- specifically, respStmt/name or persName -->
            <equiv name="tbx:responsibility"/>
          </elementSpec>

        </specGrp>

      </div>
    </body>
  </text>
</TEI>
